.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
*.h5
data/*
saved_model/
.DS_Store
error.txt
account.ini
txt/
man/
__pycache__/
trash/
etc/
share/
.ipynb_checkpoints/
