[submodule "sentiment_analysis_thai"]
	path = sentiment_analysis_thai
	url = https://github.com/JagerV3/sentiment_analysis_thai
[submodule "thai-word-segmentation"]
	path = thai-word-segmentation
	url = https://github.com/sertiscorp/thai-word-segmentation
[submodule "lexicon-thai"]
	path = lexicon-thai
	url = https://github.com/PyThaiNLP/lexicon-thai
